<?xml version="1.0"?>
<launch>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="color_width"         default="1280"/>
    <arg name="color_height"        default="720"/>
    <arg name="depth_fps"           default="30"/>
    <arg name="infra_fps"           default="30"/>
    <arg name="color_fps"           default="30"/>
    <arg name="align_depth"         default="true"/>
  </include>

</launch>
