<?xml version="1.0"?>
<launch>

  <node pkg="um7" type="um7_driver" name="um7_driver" output="log">

    <param name="port"  value="/dev/blue_imuCLEAR" />
    <param name="mag_updates" value="false" />

    <!-- Configura la redirección de la salida de advertencias para el nodo -->
    <env name="ROSCONSOLE_STDOUT_LINE_BUFFERED" value="1"/>

  </node>

</launch>

