<?xml version="1.0"?>
<launch>

  <include file="$(find robot_blue)/launch/components/start_ouster.launch" />

  <include file="$(find robot_blue)/launch/components/start_velodyne.launch" />

  <include file="$(find robot_blue)/launch/components/start_camera.launch" />

  <!-- <include file="$(find robot_blue)/launch/components/start_imu.launch" /> -->

  <include file="$(find robot_blue)/launch/components/start_arduino.launch" />

  <include file="$(find robot_blue)/launch/components/start_harxon.launch" />

  <!--<include file="$(find robot_blue)/launch/components/start_ublox.launch" /> -->

  <include file="$(find robot_blue)/launch/components/start_tf.launch" />

 <!--<include file="$(find robot_blue)/launch/components/start_multiGNSS.launch" />-->

  <include file="$(find robot_blue)/launch/components/start_imuXsense.launch" />
 



</launch>
