<?xml version="1.0"?>

<robot name="BLUE">

<link name="base_link">

  <visual name='visual'>
    <geometry>
      <box size="0.05 0.05 0.02"/>
    </geometry>
  </visual>

  <collision name='collision'>
    <geometry>
      <box size="0.05 0.05 0.02"/>
    </geometry>
  </collision>

</link>

<link name="gps"/>

<link name='velodyne'>

  <visual name='visual'>
    <geometry>
      <cylinder length="0.1" radius="0.07"/>
    </geometry>
  </visual>

  <collision name='collision'>
    <geometry>
      <cylinder length="0.1" radius="0.07"/>
    </geometry>
  </collision>
  
</link>

<link name='camera_link'>

  <visual name='visual'>
    <geometry>
      <cylinder length="0.05" radius="0.05"/>
    </geometry>
  </visual>

  <collision name='collision'>
    <geometry>
      <cylinder length="0.05" radius="0.05"/>
    </geometry>
  </collision>
  
</link>

<link name="imu_link">

  <visual name='visual'>
    <geometry>
      <box size="0.03 0.03 0.01"/>
    </geometry>
  </visual>

  <collision name='collision'>
    <geometry>
      <box size="0.03 0.03 0.01"/>
    </geometry>
  </collision>

</link>


<joint name="base_to_velo" type="fixed">
  <parent link="base_link"/>
  <child link="velodyne"/>
  <origin rpy="0.0 0.0 0.0" xyz="0.55 0.0 0.645"/>
</joint>

<joint name="base_to_camera" type="fixed">
  <parent link="base_link"/>
  <child link="camera_link"/>
  <origin rpy="-0.02 0.0 0.06" xyz="0.455 -0.02 0.68"/>
</joint>

<joint name="base_to_imu" type="fixed">
  <parent link="base_link"/>
  <child link="imu_link"/>
  <origin rpy="0.0 0.0 0.0" xyz="-0.13 0.0 -0.025"/>
</joint>

<joint name="base_to_gps" type="fixed">
  <parent link="base_link"/>
  <child link="gps"/>
  <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
</joint>


</robot>

