<launch>

<include file="$(find blue_package)/launch/start_velodyne.launch" />

<include file="$(find blue_package)/launch/start_hokuyo.launch" />

<include file="$(find blue_package)/launch/start_imu.launch" />

<include file="$(find blue_package)/launch/start_arduino.launch" />

<include file="$(find blue_package)/launch/start_ublox.launch" />

<node pkg="blue_package" type="reactive_hokuyo_alg" name="reactive_hokuyo_alg_node" />

<node pkg="blue_package" type="velocity_recommender_alg" name="velocity_recommender_alg_node" />

</launch>
