<launch>

<include file="$(find blue_package)/launch/start_velodyne.launch" />

<include file="$(find blue_package)/launch/start_hokuyo.launch" />

<include file="$(find blue_package)/launch/start_imu.launch" />

<include file="$(find blue_package)/launch/start_arduino.launch" />

<include file="$(find blue_package)/launch/start_ublox.launch" />

</launch>
